@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/ptsans-400.woff2) format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	src: url(../fonts/ptsans-700.woff2) format("woff2");
	font-display: swap;
}

html {
  height: 100%;
}

body {
	font-family: "PT Sans", sans-serif;
  font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
	background-color: #FFFFFF;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
	position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  width: 1200px;
	margin: 0 auto;
}

li {
	list-style-type: none;
}

.main-header {
	background-color: #FFFFFF;
	color: #000000;
}

.navigation{
  width: 1060px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 140px 1fr 1fr;
  column-gap: 30px;
  align-items: center;
}

.logo {
  display: block;
  margin-right: 30px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.navigation-item {
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
}

.navigation-user-item {
min-width: 44px;
min-height: 64px;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  box-sizing: border-box;
	font-weight: 700;
	line-height: 24px;
	text-align: center;
	text-decoration: none;
  color: #000000;
}

.navigation-user-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: baseline;
}

.navigation-user-link {
  display: block;
  padding: 22px 12px;
}

.button-navigation-link {
  display: inline-block;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  margin-left: 20px;
  margin-top: 14px;
  margin-bottom: 14px;
  padding: 8px 34px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  text-align: center;
  color:#FFFFFF;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.hero-background-image {
  position: relative;
	background-image: url('../images/index-background.jpg');
	background-color: #3081b7;
	color: #FFFFFF;
	background-size: 100% auto;
	background-repeat: no-repeat;
	text-align: center;
	width: 100%;
	height: 485px;
  padding-top: 51px;
  padding-bottom: 82px;
  padding-left: 371px;
  padding-right: 371px;
  box-sizing: border-box;
}

.hero-divider {
position: absolute;
right: 0;
bottom:0;
}

.main-footer-background-image {
	background-image: url('../images/subscribe-fill.jpg');
	background-repeat: no-repeat;
	background-size: cover;
  padding: 96px 258px 104px;
  background-color: #5a7b9d;
  text-align: center;
  color: #FFFFFF;
  min-height: 415px;
  box-sizing: border-box;
}

.background-image-none {
  background-color: #FFFFFF;
  background-image: none;
  color: #000000;
}

img.hero-welcome {
	display: block;
}

.welcome-text {
  padding: 69px 275px;
  text-align: center;
}

.welcom-text-header {
 font-weight: 700;
 font-size: 30px;
 line-height: 36px;
 text-align: center;
 text-transform: uppercase;
 margin: 0;
 margin-bottom: 25px;
}

.welcom-text-description {
  margin: 0;
}

.features-list {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.features-item {
	width: 400px;
	min-height: 384px;
  padding: 102px 85px;
  box-sizing: border-box;
}

.features-title {
	width: 175px;
	height: 56px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
  margin: 0 28px 30px;
}

.features-texts {
	width: 230px;
	height: 181px;
	margin: 0 auto;
	text-align: center;
}

.features-rectangle {
  margin: 0 auto;
	width: 60px;
	height: 2px;
}

.rectangle-grey {
	background: rgba(0, 0, 0, 0.3);
}

.rectangle-white {
	background: rgba(255, 255, 255, 0.3);
}

.features-description {
	font-weight: 400;
  margin: 0;
  margin-top: 30px;
}
.features-item-image {
  width: 800px;
  display: flex;
}

.features-image {
  display: block;
  object-fit: cover;
  background-color: #82B3D3;
}

.block-1,
.block-7 {
	color: #FFFFFF;
  background-color: #82B3D3;
}

.block-3,
.block-5 {
	background: rgba(131, 179, 211, 0.12);
}

.block-4 {
	background: rgba(131, 179, 211, 0.2);
}
.advantages-list{
  padding-left: 0;
  display: flex;
  margin: 0;
}
.advantages-item {
	width: 400px;
	min-height: 385px;
  padding: 80px 85px;
  box-sizing: border-box;
}

.advantages-text {
  padding-top: 102px;
  box-sizing: border-box;
	text-align: center;
  background-repeat: no-repeat;
  background-position: top;
}

.housing {
  background-image: url('../images/icons/adventages-housing.svg');
}

.food {
  background-image: url('../images/icons/adventages-food.svg');
}

.souvenirs {
  background-image: url('../images/icons/adventages-souvenirs.svg');
}

.advantages-item:nth-child(2n+1) {
	background: rgba(131, 179, 211, 0.12);
}

.advantages-title {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}

.advantages-description {
	color: #333333;
}

.advantages-main-texts {
  text-align: center;
  margin: 0 auto;
  padding: 64px 355px;
}

.advantages-main-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.advantages-main-description {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}

.hotel-search {
	text-align: center;
	padding: 96px 304px;
}

.hotel-search-text {
	width: 592px;
	margin: 0 auto;

}

.hotel-search-title {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.hotel-search-description {
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
  margin: 0;
  margin-bottom: 54px;
}

.button-search {
  display: inline-block;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  padding: 8px 50px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  line-height: 36px;
  text-align: center;
  color:#FFFFFF;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.main-footer-text {
	color: #FFFFFF;
	text-align: center;
	width: 684px;
	height: 215px;
	margin: 0 auto;
}

.main-footer-head-title {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}

.main-footer-description {
	font-size: 22px;
	line-height: 26px;
	text-align: center;
  margin: 0;
  margin-bottom: 54px;
}
.subscription-form {
  display: flex;
}

.subscription-email {
	width: 452px;
	padding: 12px 20px;
	background: #F2F2F2;
	border-radius: 4px 0 0 4px;
	border: none;
}

.subscription-button {
  width: 232px;
	height: 52px;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  border-radius: 0 4px 4px 0;
	padding: 8px 0;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
	background-color: #82B3D3;
	color: #FFFFFF;
	text-transform: uppercase;
  cursor: pointer;
}

.footer-social {
  width: 1060px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 30px;
}

.footer-social-list {
	margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

}

.footer-social-link {
  width: 48px;
  height: 40px;
  display: block;
  box-sizing: border-box;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 15px;
  padding-right: 15px;
}

.vk {
  background: url("../images/icons/social-vk.svg") no-repeat 50% 50%;
}
.tg {
  background: url("../images/icons/social-tg.svg") no-repeat 50% 50% ;
}
.ytb {
  background: url("../images/icons/social-youtube.svg") no-repeat 50% 50%;
}

.phone-link {
  display: block;
	font-size: 40px;
	line-height: 40px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
  width: 400px;
}

.developer {
  justify-self: end;
}
.catalog-filter-main {
	background-image: url("../images/catalog-background.jpg");
  background-size: 100% 100%;
	background-repeat: no-repeat;
  color: white;
  padding: 35px 70px 70px;
  background-color: #756157;
}

.inner-header {
  margin-bottom: 40px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin-top: 0;
  margin-bottom: 10px;
}

.breadcrumbs {
  padding-left: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  margin: 0;
  margin-bottom: 40px;
}
.breadcrumbs-item {
  display: inline-block;
  margin-right: 10px;
  padding-inline-start: 0;
  height: 21px;
}

.breadcrumbs-item:not(:last-child) {
  background: url("../images/icons/breadcrumbs-arrow.svg") no-repeat;
  background-position: center right;
  padding-right: 17px;
}

.breadcrumbs-home {
  width: 13px;
  height: 17px;
  background-image: url("../images/icons/breadcrumbs-home.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  display: inline-block;

}
.breadcrumbs-last{
  height: 21px;
  padding-top: 0;
  text-align: center;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
  width: 185px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 0 0;
  margin-bottom: 32px;
}
.catalog-filter-forms {
  width: 1060px;
  display: flex;
  justify-content: space-between;
}
.catalog-filter-list {
  margin: 0 0;
  padding: 0 0;
}

.catalog-filter-item {
  margin-bottom: 16px;
}

.control {
  font-weight: 400;
  line-height: 23px;
}

.control-input {
  margin-left: 0;
  margin-right: 16px;
}

.range{
  width: 288px;
}

.range-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.range-button {
  width: 191px;
}

.form-button {
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  border: none;
  color: #FFFFFF;
  width: 191px;
  padding: 8px 50px;
  text-transform: uppercase;
  font-family: "PT Sans" sans-serif;
}

.button-submit {
  background: #82B3D3;
  margin-bottom: 32px;
  margin-top: 57px;
}

.searching-results-hotels {
  width: 1060px;
  margin: 0 70px;
}

.searching-results-title {
  width: 350px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-right: auto;
}

.sorter-container {
  width: 1060px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 56px;
  padding-bottom: 46px;
}

.button-light-list {
  width: 160px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 70px;
}

.button-light-item {
  margin: 0;
  padding: 0;
}

.button-light {
  display: flex;
  height: 48px;
  width: 48px;
  padding: 17px 16px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  box-sizing: border-box;
}

.view-cards {
  background: url(../images/icons/view-cards.svg) no-repeat 50%50%;
  border: 2px solid #000000;
}

.view-signle {
  background: url(../images/icons/view-signle.svg) no-repeat 50%50%;
}

.view-list {
  background: url(../images/icons/view-list.svg) no-repeat 50%50%;
  margin-right: 0;
}

.button-reset {
  background: rgba(0, 0, 0, 0);
}

.results-select-control {
  padding: 14px 20px;
  width: 292px;
  height: 49px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  color: #333333;
}

.hotel-card-list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style-type: none;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 340px);
  grid-auto-flow: dense;
}

.hotel-card-item{
  width: 340px;
  box-sizing: border-box;
  padding: 20px;
  margin-right: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 1fr min-content min-content min-content;
  gap: 16px 20px;
  align-items: center;
}

.hotel-card-link {
  text-decoration: none;
  color: #000000;
  grid-column: 1/-1;
}

.hotel-card-image {
  display: block;
  width: 300px;
  height: 212px;
  margin-bottom: 16px;
  object-fit: cover;
  background-color: #82B3D3;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  margin: 0;
}

.hotel-card-price {
  color: #333333;
  margin: 0;
  justify-self: end;
}

.hotel-card-type {
  color: #333333;
  margin: 0;
}

.hotel-card-stars {
padding-top: 10px;
padding-bottom: 10px;
margin: 0;
}

.hotel-card-button {
  width: 140px;
  margin: 0;
	padding: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
	text-decoration: none;
	color: white;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
  text-align: center;
}

.button-info {
	background: #756157;
}

.button-favorite {
	background: #82B3D3;
}

.button-in-favorite {
	background: #7DB54F;
}

.hotel-card-rating {
  margin: 0;
  padding: 9px 22px 8px 23px;
  width: 140px;
  box-sizing: border-box;
  background: #F2F2F2;
  border-radius: 4px;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}

.pagination {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.pagination-item {
  background: #82B3D3;
  border-radius: 4px;
  margin-right: 8px;
}

.pagination-link {
  display: block;
  padding-top: 12px;
  padding-right: 25px;
  padding-bottom: 13px;
  padding-left: 24px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  color: white;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-next {
  background-color: #F2F2F2;
  color: #000000;
}
.main-footer-text-black {
  color: #000000;
}
