@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/ptsans-400.woff2) format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	src: url(../fonts/ptsans-700.woff2) format("woff2");
	font-display: swap;
}

body {
	font-family: "PT Sans", sans-serif;
  font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
	background-color: #FFFFFF;
	width: 1200px;
	margin: 0 auto;
}

.main-header {
	background-color: #FFFFFF;
	color: #000000;
}

.navigation-link {
	font-family: "PT Sans", sans-serif;
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	color: #000000;
	background-color: #FFFFFF;
	text-align: center;
	text-decoration: none;

}

.visually-hidden {
	display: none;
}

li {
	list-style-type: none;
}

.navigation-item {
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
}

.button-navigation-link {
	width: 160px;
	height: 36px;
	background: #756157;
	border-radius: 4px;
	padding: 8px 50px;
	text-decoration: none;
	color: white;
}

.navigation-user-item {
	padding: 22px 12px;
}

.hero-background-image {
	background-image: url('/images/index-background.jpg');
	background-color: #82B3D3;
	color: #FFFFFF;
	background-size: 100% auto;
	background-repeat: no-repeat;
	text-align: center;
	width: 100%;
	height: 485px;
}

.main-footer-background-image {
	background-image: url('/images/subscribe-fill.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 1200px;
	height: 415px;
}

img.hero-welcome {
	margin-top: 44px;
}

.features-item {
	width: 400px;
	height: 384px;
	background-color: #82B3D3;
}

.features-title {
	width: 175px;
	height: 56px;

	text-transform: uppercase;

	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
}

.features-texts {
	width: 230px;
	height: 181px;
	margin: 0 auto;
	text-align: center;
}

.features-rectangle {
	display: block;
	width: 60px;
	height: 2px;
}

.rectangle-grey {
	background: rgba(0, 0, 0, 0.3);
}

.rectangle-white {
	background: rgba(255, 255, 255, 0.3);
}

.features-description {
	font-weight: 400;
}

.block-1,
.block-7 {
	color: #FFFFFF;
}

.block-3,
.block-5 {
	background: rgba(131, 179, 211, 0.12);
}

.block-4 {
	background: rgba(131, 179, 211, 0.2);
}

.advantages-item {
	width: 400px;
	height: 385px;
	margin-bottom: 10px;
}

.advantages-text {
	margin: 0 auto;
	width: 230px;
	height: 223px;
	text-align: center;
}

.advantages-item:nth-child(2n+1) {
	background: rgba(131, 179, 211, 0.12);
}

.advantages-title {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
}

.advantages-description {
	color: #333333;
}

.advantages-main-texts {
  text-align: center;
  margin: 0 auto;
}

.advantages-main-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.advantages-main-description {
  font-size: 22px;
  line-height: 26px;
}

.hotel-search {
	text-align: center;
	padding: 96px 0;
}

.hotel-search-text {
	width: 592px;
	height: 108px;
	margin: 0 auto;
}

.hotel-search-title {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
}

.hotel-search-description {
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
}

.button-search {
	background: #756157;
	border-radius: 4px;
	padding: 8px 50px;
	text-decoration: none;
	color: white;
	font-weight: 700;
	font-size: 20px;
	line-height: 36px;
	text-transform: uppercase;
}

.main-footer-text {
	color: #FFFFFF;
	text-align: center;
	width: 684px;
	height: 215px;
	margin: 0 auto;
}

.main-footer-head-title {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase
}

.main-footer-description {
	font-size: 22px;
	line-height: 26px;
	text-align: center;
}

.subscription-email {
	width: 452px;
	padding: 12px 20px;
	background: #F2F2F2;
	border-radius: 4px 0 0 4px;
	border: none;
}

.subscription-button {
	padding: 8px 50px;
	background: #82B3D3;
	border-radius: 0 4px 4px 0;
	border: none;
	width: 232px;
	height: 52px;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: 700;
}

.phone {
	font-size: 40px;
	line-height: 40px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
}

.footer-social-item {
	display: inline-block;
}

.catalog-filter-main {
	background-image: url('/images/catalog-background.jpg');
  background-size: 100% 100%;
	background-repeat: no-repeat;
  color: white;
  padding: 35px 70px 70px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin-top: 0;
  margin-bottom: 10px;
}

.breadcrumbs-item {
  display: inline-block;
  margin-right: 10px;
  font-size: 21px;
}

.catalog-filter-group {
  border: none;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.control {
  font-weight: 400;
  line-height: 23px;
}

.range-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.form-button {
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  border: none;
  color: #FFFFFF;
  width: 191px;
  height: 36px;
  text-transform: uppercase;
}

.button-submit {
  background: #82B3D3;
}

.button-reset {
  background: rgba(0, 0, 0, 0);
}

.searching-results-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.results-select-control {
  padding: 14px 20px;
  width: 292px;
  height: 49px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  color: #333333;
}

.hotel-card-link {
  text-decoration: none;
  color: #000000;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
}

.hotel-card-type, .hotel-card-price {
  color: #333333;
}

.hotel-card-button-info {
	background: #756157;
	border-radius: 4px;
	padding: 8px 50px;
	text-decoration: none;
	color: white;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
  width: 140px;
  height: 36px;
}

.hotel-card-button-favorite {
	background: #82B3D3;
	border-radius: 4px;
	padding: 8px 50px;
	text-decoration: none;
	color: white;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
  width: 140px;
  height: 36px;
}

.hotel-card-button-in-favorite {
	background: #7DB54F;
	border-radius: 4px;
	padding: 8px 50px;
	text-decoration: none;
	color: white;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
  width: 140px;
  height: 36px;
}

.hotel-card-rating {
  width: 140px;
  height: 37px;
  background: #F2F2F2;
  border-radius: 4px;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}

.pagination-item {
  width: 60px;
  height: 60px;
  background: #82B3D3;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  color: white;
}

.pagination-current {
  color: #000000;
}
.main-footer-background-image-none {
  background-color: #FFFFFF;
}

.main-footer-text-black {
  color: #000000;
}
