@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/ptsans-400.woff2) format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	src: url(../fonts/ptsans-700.woff2) format("woff2");
	font-display: swap;
}

body {
	font-family: "PT Sans", sans-serif;
  font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
	background-color: #FFFFFF;
	width: 1200px;
	margin: 0 auto;
}
.visually-hidden {
	position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
	background-color: #FFFFFF;
	color: #000000;
}

.navigation-link {
	font-weight: 700;
	line-height: 24px;
	text-align: center;
	text-decoration: none;
  color: #000000
}

li {
	list-style-type: none;
}

.navigation-item {
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
}

.button-navigation-link {
    width: 160px;
    height: 36px;
    background: #756157;
    border-radius: 4px;
    padding: 8px 0;
    text-decoration: none;
    color: white;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
}

.hero-background-image {
	background-image: url('../images/index-background.jpg');
	background-color: #3081b7;
	color: #FFFFFF;
	background-size: 100% auto;
	background-repeat: no-repeat;
	text-align: center;
	width: 100%;
	height: 485px;
}

.main-footer-background-image {
	background-image: url('../images/subscribe-fill.jpg');
	background-repeat: no-repeat;
	background-size: cover;
  padding: 96px 258px 104px;
  background-color: #5a7b9d;
  text-align: center;
  color: #FFFFFF;
  min-height: 415px;
  box-sizing: border-box;
}

.background-image-none {
  background-color: #FFFFFF;
  background-image: none;
  color: #000000;
}

img.hero-welcome {
	margin-top: 44px;
}

.features-item {
	width: 400px;
	height: 384px;
}

.features-title {
	width: 175px;
	height: 56px;

	text-transform: uppercase;

	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
}

.features-texts {
	width: 230px;
	height: 181px;
	margin: 0 auto;
	text-align: center;
}

.features-rectangle {
	display: block;
	width: 60px;
	height: 2px;
}

.rectangle-grey {
	background: rgba(0, 0, 0, 0.3);
}

.rectangle-white {
	background: rgba(255, 255, 255, 0.3);
}

.features-description {
	font-weight: 400;
}

.block-1,
.block-7 {
	color: #FFFFFF;
  background-color: #82B3D3;
}

.block-3,
.block-5 {
	background: rgba(131, 179, 211, 0.12);
}

.block-4 {
	background: rgba(131, 179, 211, 0.2);
}

.advantages-item {
	width: 400px;
	min-height: 385px;
	margin-bottom: 10px;
  padding: 80px 85px;
  box-sizing: border-box;
}

.advantages-text {
  padding-top: 102px;
  box-sizing: border-box;
	text-align: center;
  background-repeat: no-repeat;
  background-position: top;
}

.housing {
  background-image: url('../images/icons/adventages-housing.svg');
}

.food {
  background-image: url('../images/icons/adventages-food.svg');
}

.souvenirs {
  background-image: url('../images/icons/adventages-souvenirs.svg');
}

.advantages-item:nth-child(2n+1) {
	background: rgba(131, 179, 211, 0.12);
}

.advantages-title {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}

.advantages-description {
	color: #333333;
}

.advantages-main-texts {
  text-align: center;
  margin: 0 auto;
}

.advantages-main-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.advantages-main-description {
  font-size: 22px;
  line-height: 26px;
}

.hotel-search {
	text-align: center;
	padding: 96px 0;
}

.hotel-search-text {
	width: 592px;
	height: 108px;
	margin: 0 auto;
}

.hotel-search-title {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
}

.hotel-search-description {
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
}

.button-search {
	background: #756157;
	border-radius: 4px;
	padding: 8px 50px;
	text-decoration: none;
	color: white;
	font-weight: 700;
	font-size: 20px;
	line-height: 36px;
	text-transform: uppercase;
}

.main-footer-text {
	color: #FFFFFF;
	text-align: center;
	width: 684px;
	height: 215px;
	margin: 0 auto;
}

.main-footer-head-title {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}

.main-footer-description {
	font-size: 22px;
	line-height: 26px;
	text-align: center;
  margin-bottom: 54px;
}

.subscription-email {
	width: 452px;
	padding: 12px 20px;
	background: #F2F2F2;
	border-radius: 4px 0 0 4px;
	border: none;
}

.subscription-button {
	padding: 8px 0;
	background: #82B3D3;
	border-radius: 0 4px 4px 0;
	border: none;
	width: 232px;
	height: 52px;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
}

.phone {
	font-size: 40px;
	line-height: 40px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
}

.footer-social-item {
	display: inline-block;
}
.footer-social-link {
  display: block;
  width: 48px;
  height: 40px;
}

.vk {
  background: url("../images/icons/social-vk.svg") no-repeat 50% 50%;
}
.tg {
  background: url("../images/icons/social-tg.svg") no-repeat 50% 50% ;
}
.ytb {
  background: url("../images/icons/social-youtube.svg") no-repeat 50% 50%;
}
.catalog-filter-main {
	background-image: url("../images/catalog-background.jpg");
  background-size: 100% 100%;
	background-repeat: no-repeat;
  color: white;
  padding: 35px 70px 70px;
  background-color: #756157;
}

.inner-header {
  margin-bottom: 40px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin-top: 0;
  margin-bottom: 10px;
}

.breadcrumbs {
  padding-left: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}
.breadcrumbs-item {
  display: inline-block;
  margin-right: 10px;
  padding-inline-start: 0;
  height: 21px;
}
.breadcrumbs-home {
  width: 13px;
  height: 21px;
  background-image: url("../images/icons/breadcrumbs-home.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  display: inline-block;

}
.breadcrumbs-arrow {
 width: 8px;
 height: 21px;
 background: url("../images/icons/breadcrumbs-arrow.svg") no-repeat;
 align-items: center;
 background-position: bottom;
}
.breadcrumbs-last{
  height: 21px;
  padding-top: 0;
  text-align: center;
}
.catalog-filter-group {
  border: none;
  padding: 0 0;
  margin-left: 0;
  display: inline-block;
  margin-right: 70px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 0 0;
  margin-bottom: 32px;
}

.catalog-filter-list {
  margin: 0 0;
  padding: 0 0;
}

.catalog-filter-item {
  margin-bottom: 16px;
}

.control {
  font-weight: 400;
  line-height: 23px;
}

.control-input {
  margin-left: 0;
  margin-right: 16px;
}

.range-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.form-button {
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  border: none;
  color: #FFFFFF;
  width: 191px;
  height: 36px;
  text-transform: uppercase;
  font-family: "PT Sans" sans-serif;
}

.button-submit {
  background: #82B3D3;
}

.button-reset {
  background: rgba(0, 0, 0, 0);
}

.searching-results-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.results-select-control {
  padding: 14px 20px;
  width: 292px;
  height: 49px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  color: #333333;
}

.hotel-card-link {
  text-decoration: none;
  color: #000000;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
}

.hotel-card-type, .hotel-card-price {
  color: #333333;
}

.hotel-card-button {
  font-family: "PT Sans", sans-serif;
	border-radius: 4px;
	padding: 8px 0;
	text-decoration: none;
	color: white;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
  width: 140px;
  height: 36px;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
}

.button-info {
	background: #756157;
}

.button-favorite {
	background: #82B3D3;
}

.button-in-favorite {
	background: #7DB54F;
}

.hotel-card-rating {
  width: 140px;
  height: 37px;
  background: #F2F2F2;
  border-radius: 4px;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  padding-top: 8px;
  box-sizing: border-box;
}

.pagination-item {
  width: 60px;
  height: 60px;
  background: #82B3D3;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  color: white;
}

.pagination-current {
  color: #000000;
}

.main-footer-text-black {
  color: #000000;
}
